<h1>New Comment for <%= link_to @article.title, @article %></h1>

<%= form_with(model: [@article, @comment], local: true) do |f| %>
<div class="grid-x grid-padding-x">
        <div class="medium-6 cell">
            <%= render "shared/errors", object: @comment %>

            <%= f.label :name %>
            <%= f.text_field :name%>

            <%= f.label :content %>
            <%= f.text_area :content, rows: 5 %>

            <%= f.submit "Create", :class => 'button primary' %>
        </div>
</div>
<% end %>
